/***************************************************************************************/
/* GLOBAL */
/***************************************************************************************/
html{
	scroll-behavior: smooth;
	font-family:'robo';
}

header, footer {
	font-family: 'ps';
}

body{
	background: white;	
}

button{
	font-family: 'ps';
}
h1,h2,h3{
	color: #006666;
	font-family: 'ps'
}

h1{
	font-size:7vw;
	text-align: center;
}

h2{
	font-size:2.5vw;
}

h3{
	font-size:1.8vw;
}

/***************************************************************************************/
/* HEADER */
/***************************************************************************************/
nav#menunav{
	margin:0 auto;
	max-width:700px;
	width:95%;
}

nav#menunav #checkbox1,nav#menunav .toggle{
	display:none
}

nav#menunav .menu{
	padding:0;
	margin:0;
	max-width:700px;
	height:50px;
	border-radius:5px;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
	list-style-type:none;
	/* border-style: round; */
}

nav#menunav .menu li a{
	text-decoration:none;
	align-self:center;
	border-radius:5px;
	font-size:14px;
	padding:10px 15px;
	transition:background .2s linear;
}

@media screen and (max-width:600px){
	nav#menunav .menu li a{
		font-size:13px;
	}
}

@media screen and (max-width:550px){
	nav#menunav .toggle{
		clear:both;
		display:block;
		text-align:center;
		font-size:14px;
		line-height:40px;
		cursor:pointer;
		width:100%;
		height:40px;
		font-size:18px;
		color:#595959;
		background:#dbdbdb;
		border-bottom-left-radius:5px;
		border-bottom-right-radius:5px;
		transition:all .1s linear;
	}

	nav#menunav .toggle:hover{
		background:#cecece
	}

	nav#menunav #checkbox1:checked + label .bar li{
		opacity:1;
		visibility:visible;
		transition:all .7s linear;
	}

	nav#menunav #checkbox1:checked + label .bar{
		height:200px
	}

	nav#menunav .menu{
		border-radius:0;
		border-top-left-radius:5px;
		border-top-right-radius:5px;
		display:flex;
		flex-direction:column;
		justify-content:space-around;
		align-items:left ;height:0;
		transition:height .3s linear;
	}
	nav#menunav .menu li{
		display:flex;/* magic */    
		align-self:center;
		width:95%;
		opacity:0;
		visibility:hidden
	}

	nav#menunav .menu li a{
		width:95%;
		text-align:center;
		align-self:center;
		align-content:center;
	}
}

nav#menunav {
	background:white;
}

nav#menunav li a{
	color:black
}

nav#menunav li a:hover{
	background:#006666;
	color:white;
}

.button {
  display: inline-block;
  border-radius: 10px;
  background-color: #006666;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.menu.utama {
    width: 100%;
    padding-bottom: 30px;
    margin: 0;
    text-align: center;
}

* {
    box-sizing: border-box;
}

#order{
	/* top: 15px;
	right: 15px;
	position: fixed; */
	background-color:#006666; 
}

/***************************************************************************************/
/* HOMEPAGE */
/***************************************************************************************/
.grid-container {
	width: 100%;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10%;
	background-color: white;
	padding: 0px;
	border-radius: 5px;
}

.grid-container > div {
	background-color: lightgrey;
	text-align: center;
	padding: 0px;
	font-size: 1.3vw;
	border-radius: 5px;
}

.container-title{
	width: 50%;
	float: left;
	text-align: center;
	height: 85vh;
}

#title{
	font-family: 'ps';
	font-size: 11vw;
	color: #006666;
	margin-top: 22vh;
}

#subtitle{
	font-family: 'ps';
	font-size: 2.5vw;
	margin: auto;
	color: #006666;
}

.container2{
	padding-right: 5%;
	width:50%;
	height: 85vh;
	float: right;
	text-align: center;
}

.container2 > a > button > span {
	font-family: 'ps';
}

.containerTesti{
	width: 70%;
	float:center;
	display: grid;
	grid-template-columns: auto;
	grid-gap: 5%;
	background-color: white;
	padding: 10px;
	margin-right: 1%;
	margin-left: 15%;
	margin-bottom: 8%;
}

.containerTesti > div{
	border-radius: 4px;
	background-color: white;
	color:#006666;
   	text-align: justify;
   	padding: 10px;
   	font-size: 20px;
   	border-color: #006666;
   	border: solid;
}	

.containerTesti > div > div {
	margin-top: 3px;
	text-align: right;
}

/***************************************************************************************/
/* FAQ */
/***************************************************************************************/
.containerFAQ {
	width: 70%;
	float:center;
	display: grid;
	grid-template-columns: auto;
	grid-gap: 2%;
	background-color: white;
	padding: 10px;
	margin-right: 1%;
	margin-left: 15%;
	margin-bottom: 8%;
	padding-bottom: 60px; 
}

.containerFAQ > div {
   background-color: white;
   color:#006666;
   text-align: left;
   padding: 10px;
   font-size: 1.5vw;
   border-color: #006666;
   border: solid;
   border-radius: 4px;
}

/***************************************************************************************/
/* PRICE LIST */
/***************************************************************************************/
.containerprice {
	width: 100%;
	float:center;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10%;
	background-color: white;
	padding: 20px;
	padding-bottom: 60px;
}

.containerprice1 {
	width: 100%;
	float:center;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 5%;
	background-color: white;
	padding: 10px 20px 60px 20px;
	border-radius: 5px;
}

.containerprice > div {
   background-color: #006666;
   text-align: center;
   padding: 20px 0;
   font-size: 1.3vw;
   color : white;
   border-radius: 5px;
}

.containerprice1 > div {
   background-color: #006666;
   text-align: center;
   padding: 20px 0;
   font-size: 1.3vw;
   padding: 0;	
   padding-top: 9px;
   color : white;
   border-radius: 5px;
}

.containerprice1 > div > table{
	text-align: left;
	padding-left: 2px;
}

.containerprice2{
	width: 100%;
	float:center;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 5%;
	background-color: white;
	padding: 10px 20px 60px 20px;
	border-radius: 5px;
}

.containerprice2 > div {
	background-color: #006666;
	text-align: center;
	padding: 20px 0;
	font-size: 1.3vw;
	padding: 0;
	padding-top: 9px;
	color : white;
	border-radius: 5px;
 }

.containerprice2 > div > table{
	text-align: left;
	padding-left: 2px;
}

/***************************************************************************************/
/* CEK PESANAN */
/***************************************************************************************/
.containerCP{
	width: 100%;
	display: grid;
	grid-template-columns: auto;
	text-align: center;
}

#kodPes{
	font-size: 30px;
	columns: 20;
}

/***************************************************************************************/
/* CREDIT */
/***************************************************************************************/
#nameCard {
	padding: 5px;
}

.credit-pic{
	width: 20vw;
}

/***************************************************************************************/
/* ORDER */
/***************************************************************************************/
.containerPesan {
	width: 55%;
	float: left;
	background-color: #006666;
}

.containerBayar {
	width: 40%;
	float: right;
	background-color: #595959;
}

/***************************************************************************************/
/* FOOTER */
/***************************************************************************************/
footer{
	border-top: 1px solid;
	height:5%;
    height:30px;
    line-height:30px;
    background:#006666;
    color:white;
    text-align: center;
	padding: 0px;
	position: fixed;
	bottom: 0;
	left: 0px;
	width: 100%;
}

#copyright{
	float: left;
	color: #FFFFFF;
	width: 100%;
	text-align: center;
}

.clock{
	position: fixed;
	color: #FFFFFF;
	right:8px;
}

/***************************************************************************************/
/* FONT */
/***************************************************************************************/
/* roboto */
@font-face {
	font-family: robo;
	src: url("Roboto-Regular.ttf");
}

@font-face {
	font-family: robo;
	src: url("Roboto-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: robo;
	src: url("Roboto-BoldItalic.ttf");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: robo;
	src: url("Roboto-Regular.ttf");
	font-weight: bold;
	font-style: italic;
}

/* product sans */
@font-face {
	font-family: ps;
	src: url("Product Sans Regular.ttf");	
}

@font-face {
	font-family: ps;
	src: url("Product Sans Bold Italic.ttf");
	font-weight: bold;
	font-style: italic;	
}

@font-face {
	font-family: ps;
	src: url("Product Sans Italic.ttf");
	font-style: italic;	
}

@font-face {
	font-family: ps;
	src: url("Product Sans Bold.ttf");
	font-weight: bold;	
}